/* ------------------------
# START CONFIGURATION
------------------------ */

html,
body{
    height: 100%;
    margin: 0;
    max-width: 100%;
}
/* ------------------------
# FOOTER
------------------------ */
.wrapper{
    min-height : 100%;
    margin-bottom: -50px;
}
#footer,
.push {
    height: 50px;
}

/* ------------------------
# CUSTOM PAGINATION
------------------------ */
.page-item.active .page-link {
    columns: #fff;
    background-color: #6c757d;
    border: 1px solid #6c757d;
}
.pagination > li > a {
    background-color: #fff;
    color :#6c757d;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > span > a:focus,
.pagination > span > a:hover {
    background-color: #d3d3d3;
    color: #111;
    border: 1px solid #6c757d;
    box-shadow: none;
}

/* ------------------------
# DATATABLES
------------------------ */
/* Pagination */
.dataTables_paginate {
    margin-top: -30px !important;
}
/* Input Search */
.dataTables_filter {
    margin-top: 10px !important;
    display: none;
}
/* Leght */
.dataTables_length {
    float: right !important;
    margin-top: 10px !important;
}
/* Group button */
.dt-buttons {
    margin-bottom: 10px !important;
}
/* ------------------------
# SWEETALERT CUSTOMIZED
------------------------ */
.swal-modal {
    background-color: rgba(0, 0, 0, 0.651);
    color: #fff;
}
.swal-title {
    color: #fff;
    font-size: 20px;
}
.swal-text {
    color: #fff;
    font-size: 15px;
}
/* BUTTONS */
.swal-button {
    padding : 7px 19px;
    border-radius: 5px;
    background-color: #198754;
    font-size: 12px;
    border: 1px #198754;
}
.swal-button:focus{
    box-shadow: none;
}
.swal-button:not([disabled]):hover{
    background: transparent;
    color: #fff;
    border: 1px #198754;
}
/* ICONS */
.swal-icon--success__hide-corners{
    background: none !important;
}
.swal-icon--success:before,
.swal-icon--success:after{
    background: none !important;
}



/* ------------------------ 
# OTHERS
------------------------ */
.side-label {
    width: 45px;
}
