{% extends 'base.html' %}

<!-- Navbar content -->
{% block navbar-content %}
<i style="color: whitesmoke;" class="fas fa-cannabis"></i>&nbsp;&nbsp;Management Inventory
{% endblock navbar-content %}

<!-- Page Content -->
{% block content %}
<div class="container">
    <br><br>

    <table class="table table-bordered" id="example" style="text-align: center; font-size: 14px;">
        <thead class="table-success">
            <tr>
                <th style="width: 7%;">No</th>
                <th style="width: 20%;">Nama Barang</th>
                <th style="width: 15%;">SKU</th>
                <th style="width: 8%;">Ukuran</th>
                <th style="width: 10%;">Jumlah</th>
                <th style="width: 10%;">Jenis Barang</th>
                <th style="width: 15%;">Updated</th>
                <th style="width: 5%;">Edit</th>
                <th style="width: 5%;">Delete</th>
            </tr>
        </thead>
        <!-- Data from backend -->
        {% for item in items %}
        <tr>
            <td>{{ item.no_barang }}</td>
            <td>{{ item.nama_barang }}</td>
            <td>{{ item.no_sku }}</td>
            <td>{{ item.ukuran }}</td>
            <td>{{ item.jumlah_barang }}</td>
            <td>{{ item.Jenis_barang }}</td>
            <td>{{ item.create_at | date:'D, d M, Y H:i:s' }}</td>
            <td>
                <a class="btn btn-success text-center" title="Edit Item" data-bs-toggle="modal" data-bs-target="#editModal{{ item.pk }}">
                    <i class="fas fa-pen"></i>
                </a>
            </td>
            <td>
                <a class="btn btn-success text-center" title="Delete Item" data-bs-toggle="modal" data-bs-target="#deleteModal{{ item.pk }}">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
        <!-- ===== INCLUDE PAGE ====== -->
        {% include 'edit.html' %}

        <!-- Delete Comfirmation-->
        <div class="modal fade" id="deleteModal{{ item.pk }}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel"><i class="fas fa-trash-alt"></i>&nbsp;&nbsp; Delete Item</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center text-danger"><i class="far fa-times-circle fa-5x mb-4 mt-2"></i></div>
                        <div class="text-center text-danger">
                            <span>DO YOU WANT TO DELET THIS ITEM?</span>
                            <div class="text-dar mt-3 mb-3"><strong>{{ item.nama_barang }}</strong></strong></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancel</button>
                        <a href="/delete_item/{{ item.no_barang }}" class="btn btn-outline-danger btn-sm">Delete</a>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
    </table>

    <br><br>

</div> <!-- END //.container -->

{% for message in messages %}
{% if message.tags == 'success' %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    var m = "{{ message }}";
    swal("Success!", m, "success");
</script>
{% endif %}
{% endfor %}

<br><br>
{% endblock content %}